<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentManagement.Properties.Settings.QuanlysinhvienConnectionString"
            connectionString="Data Source=SAPLING\SAPLING;Initial Catalog=Quanlysinhvien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentManagement.Properties.Settings.Quanlysinhvien2ConnectionString"
            connectionString="Data Source=SAPLING\SAPLING;Initial Catalog=Quanlysinhvien2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>